<div class="copyright">
  <% if (config.author){ %>
  &copy; <%= new Date().getFullYear() %> <%= config.author %>
  <% } else { %>
  &copy; <%= new Date().getFullYear() %> <%= config.title %>
  <% } %>
</div>

<% if (theme.cnzzId) { %>
<div style="position:relative; bottom: 23px">
  <script src="http://s95.cnzz.com/stat.php?id=<%= theme.cnzzId %>&web_id=<%= theme.cnzzId %>&show=pic1" language="JavaScript">
  </script>
</div>
<% } %>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-51731334-1', 'edi-c.com');
  ga('send', 'pageview');

</script>